<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our blog</title>
    <style>
        body{
            direction: rtl;
        }
        .main{
            width: 100vw;
            display: flex;
            height: 100vh;
            padding: auto;
            background-color: rgb(216, 187, 243);
            align-items:center;
            justify-content:center;       
        }
    </style>
</head>
<body>
    <div class="main">
        <!-- پیامی که از بک میاد اینجا نمایش داده میشه-->
        <h4>{{message}}</h4>
    </div>
</body>
</html>